{% extends 'base.html' %}

{% block content %}
<h2 class="alert alert-primary"> {{ post_detail.title }}</h2>
<span class="badge rounded-pill bg-light">{{ post_detail.date}}</span>
<br/>
<!-- <span class="badge rounded-pill bg-light">{{ post_detail.author.username}}</span> -->
<span class="badge rounded-pill bg-light">익명</span>
<hr/>
<p>
    {{ post_detail.body }}
</p>

{% if user.is_authenticated %}
    {% if user.id == post_detail.author.id %}
        <a href="{% url 'anonydetail_delete' post_detail.id %}">삭제</a><br/>
        <a href="{% url 'anonydetail_edit' post_detail.id %}">수정</a>
    {% endif %}
{% endif %} 

<br/><hr/>

<!-- 댓글 입력 공간 -->
<form method="POST" action="{% url 'newcomment' post_detail.id  %}">
    {% csrf_token %}
    <div class="form-group">
        {{ comment_form }}
    </div>
    <input type="submit" class="btn btn-primary btn-icon-split btn-sm" value="댓글 입력">
</form><br>

<!-- 댓글 목록 공간 -->
{% for comment in post_detail.anonycomment_set.all %}
    <span class="badge rounded-pill bg-light">{{ comment.date }}</span>    
    {{ comment }}

    {% if user.is_authenticated %}
        {% if user.id == comment.author.id %}
        <a href="{% url 'comment_delete' post_detail.id comment.id %}">삭제</a><br/>
        {% endif %}
    {% endif %} 

    <hr>
{% endfor %}

{% endblock %}

