{% extends 'base.html' %}
{% block content %}
<!-- Page Heading -->
<!-- DataTales Example -->
<div class="card shadow m-3">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-3 font-weight-bold text-success">자유게시판</h6>
        {% if user.is_authenticated %}
        <a href="{% url 'freepostcreate' %}" class="btn btn-success btn-icon-split m-2 ">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">글쓰기</span>
        </a>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width='70%'>글 제목</th>
                        <th>작성 날짜</th>
                        <th>작성자</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td><a href="{% url 'freedetail' post.id %}">{{ post.title }}</a>
                        {% if post.image %}
                        <i class="fas  fa-image"></i>
                        {% endif %}
                        </td>
                        <td>{{ post.date }}</td>
                        <td>{{ post.author.username }} </td> <!--작성자-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--페이지네이션-->
<div class="text-center">
    {% if posts.has_previous %}
    <a href= "?page={{posts.previous_page_number}}"> 이전 페이지 </a>
    {% endif %} 

    <span> {{posts.number}} </span> 
    <span> / </span> 
    <span> {{posts.paginator.num_pages}} </span> 

    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}"> 다음 페이지 </a>
    {% endif %}
</div>

{% endblock %}