{% extends 'base.html' %}

{% block content %}
<div class="shadow m-5">
  <div class="p-5 text-center">
      <div class="text-lg">{{userprofile.user.username}} 님의 프로필
      </div>
      <div>{{userprofile.user.email}}</div>
      <div class="d-flex justify-content-center">
        <div class="card shadow m-5 p-4"> 내가 쓴 익명게시글 <hr>
        {% for mypost in my_anony_posts.all %}
          <a href="{%url 'anonydetail' mypost.id%}" class="m-2">{{mypost}}</a>
        {% endfor %}
        </div>
        <div class="card shadow m-5 p-4"> 내가 쓴 자유게시글 <hr>
        {% for mypost in my_free_posts.all  %}
          <a href="{%url 'freedetail' mypost.id%}" class="m-2">{{mypost}}</a>
        {% endfor %}
        </div>
        <div class="card shadow m-5 p-4"> 내가 좋아요 한 익명게시글 <hr>
        {% for likepost in userprofile.like_anonyposts.all %}
          <a href="{%url 'anonydetail' likepost.id%}" class="m-2">{{likepost}}</a>
        {% endfor %}
        </div>
        <div class="card shadow m-5 p-4"> 내가 좋아요 한 자유게시글 <hr>
        {% for likepost in userprofile.like_freeposts.all %}
          <a href="{%url 'anonydetail' likepost.id%}" class="m-2">{{likepost}}</a>
        {% endfor %}
        </div>
      </div>
</div>
</div>

{% endblock %}